GH_APP_ID=000000
GH_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GH_WEBHOOK_SECRET=changeme
HF_TOKEN=hf_xxxxxxxxxx
HF_NAMESPACE=your-hf-user-or-org
ALLOWED_GITHUB_REPOSITORIES=your-github-org/your-repo
RUNNER_IMAGE_CPU=ghcr.io/abidlabs/jobs-actions-runner:latest
RUNNER_IMAGE_GPU=ghcr.io/abidlabs/jobs-actions-runner-gpu:latest
JOB_TIMEOUT=1h
LOG_LEVEL=INFO
